@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

section.banner {
    padding: 0 12px;
    
    @include media-breakpoint-up(xl) {
        padding: 0 83px;
    }

    .banner_inner {
        background: $primary imgUrl('banner-inner.png') left bottom;

        .banner_innermost {
            color: $white;
            padding: 72px 0 48px;
            
            @include media-breakpoint-up(xl) {
                background: imgUrl('banner.jpg') right center;
                padding: 72px 0 115px;
                background-size: contain;
            }

            .banner-cta {
                background-color: $secondary;
                padding: 43px 37px;
                position: relative;

                .hot-water-systems {
                    position: absolute;
                    right: 18px;
                    bottom: 0;

                    @include media-breakpoint-down(sm) {
                        right: 4px;
                        width: 150px;
                    }
                }

                @include media-breakpoint-down(sm) {
                    padding: 34px 156px 34px 8px;
                }
            }
        }
    }
}

section.form {
    padding: 50px 0;

    @include media-breakpoint-up(xl) {
        padding: 50px 71px;
    }

    .qualification {
        background: $primary imgUrl('qualification.png') right center;
        background-size: contain;
        color: $white;
        padding: 47px 69px 40px;

        @include media-breakpoint-down(lg) {
            padding: 47px 16px;
        }
        @include media-breakpoint-down(sm) {
            padding: 47px 16px 0;
            background: $primary;
        }
    }

    form {
        label {
            color: $grey;
            font-weight: 600;
        }

        input {
            padding: 16px 0;
            border-radius: 0;
            border: 0;
            border-bottom: 1px solid #A6a6a6;
            color: $grey;

            &::placeholder {
                opacity: 0.38;
            }

            &:focus {
                outline: none;
                box-shadow: 0;
            }
        }

        button {
            height: 65px;
        }
    }
}

section.about {
    padding: 48px 0 70px;

    @include media-breakpoint-up(md) {
        padding: 130px 0 70px;
    }

    .about-gallery {
        position: relative;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;

        .about-circle {
            position: absolute;
            top: -1rem;
            animation: rotation 10s infinite;
            animation-timing-function: ease-in;

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            50% {
                transform: rotate(-90deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }

        .about-gallery-slider {
            position: relative;

            img {
                border-radius: 40px;
                overflow: hidden;

                &.gal-1 {
                    position: absolute;
                    animation: display1 10s infinite;
                }

                &.gal-2 {
                    animation: display2 10s infinite;
                }
            }

            @keyframes display1 {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }

            @keyframes display2 {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }

        }
    }

}

section.services {
    padding: 48px 0;
    background: $primary imgUrl('services.png') bottom;
    background-size: contain;
    color: $white;

    @include media-breakpoint-up(md) {
        padding: 96px 0 120px;
    }

    .first-choice {
        padding: 31px 0;
        background: imgUrl('first-choice.png') left bottom, linear-gradient(180deg, #1599C8 0%, #1195C5 100%);
        
        @include media-breakpoint-up(md) {
            padding: 84px 0 31px;
        }
    }

    .limited-time {
        background: #1BA2D3;
        border: 1px solid #0E89B6;
        display: inline-flex;
        padding: 5px 22px;
        position: relative;
    }

    .our-services {
        .service-slider-nav {
            .slick-slide {
                background: #0D8AB8;
                border: 1.21255px solid #29AAD9;
                border-radius: 24.2511px;
                height: 212px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 19px;
                font-weight: 600;
                padding: 16px;
                margin: 70px 0;
                transform: scale(0.6);
                transition: 0.2s all;

                &.slick-active {
                    transform: scale(0.8);

                    &.slick-center {
                        box-shadow: 0px 4.85021px 36.3766px #2FAEDC;
                        transform: scale(1);
                    }
                }

                @include media-breakpoint-down(sm) {
                    margin: 30px 0;
                }
            }
        }

        .service-slider {
            .service-slider-content {
                text-align: center;
            }
        }
    }
}

footer {
    font-size: 0.875rem;
    background-color: #030501;
    padding: 28px 0;
}